extends layout

block content
    .button-row
        h1 Update and get mission details with the following requests
    
    each type, i in requestType
        .button-row
            +request(type, requestURL[i])



    mixin request(requestType, requestUrl)
        .request-template
            .request-type
                p= requestType
            .request-url
                p localhost:3000/API/#{requestUrl}